/**
 * CSS for the CS142 Project 4, Problem 2 States component.
 * 
 * Since CSS uses a global name space for classes we should use names starting
 * with "cs142-states-" here.
 */

 .filtered {
    font-size: medium;
    font-family: Courier New, monospace;
 }

 .notfound {
    font-family: STSong;
    font-weight: bold;
    font-size: xx-large;
 }

 .entered {
    font-size: xx-large;
    font-family: Courier New, monospace;
    font-style: italic;
 }
